<!DOCTYPE html>
<html>
  <head>
    <title>ADMIN SPECIAL STUFF</title>
  </head>
  <body>
    <form class="" action="/admin" method="POST">
      <input type="text" name="name" placeholder="name">
      <input type="text" name="email" placeholder ="email">
      <input type="text" name="snack" placeholder="favourite snack">
      <input type="text" name="habitat" placeholder="habitat">
      <input type="submit" value="Add Profile">
    </form>
  </body>
</html>
