<!DOCTYPE html>
<html>
  <head>
    <title>Animals!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</title>
  </head>
  <body>
    <ul>
    {{#each users}}
      <a href=/view_animal/{{id}}><li>{{name}} ({{email}}) </a></li>
    {{/each}}
    </ul>
  </body>
</html>
